.buttonBox{
  display: flex;
  justify-content: space-around;

}

.input{
  border-radius: 20px;
  box-shadow: 0 15px 10px rgba(121, 111, 190, 0.307), 0 0px 16px rgba(121, 111, 190, 0.696); 
}

.button{
  background-color: rgb(243 243 255);
  padding: 30px 20px;
  font-size: 20px;
  border-radius: 20px;
  margin-bottom: 7px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  
}


.buttonCont{
  background-color: rgba(121, 111, 190, 0.216);
  border-radius: 20px;
  width: 250px;
  transition: transform 0.3s ease;  /* Убедитесь, что добавлена секунда (s) */
  box-shadow: 0 30px 20px rgba(121, 111, 190, 0.362), 0 16px 16px rgba(121, 111, 190, 0.893); 
}

.buttonCont:hover{ 
  transform: scale(1.1);
}
