.blocksContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
 
  max-width: 1830px;
  margin: auto;
}

.block {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.blocks { 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  width: 50px;
  height: auto;
  object-fit: cover;
}

.caption {
  padding: 10px;
  font-size: 14px;
  color: #333;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
  .blocksContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .caption {
    font-size: 12px;
  }
}


@media (min-width: 898px) {
  .blocksContainer {
    grid-template-columns: repeat(3, 1fr); 
  }

 
}
 
@media (min-width: 1345px) {
  .blocksContainer {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

 
}
 