.page {
	display: flex;
	justify-content: space-around;

	max-width: 1830px;
	margin: auto;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.sections {
	display: flex;
	padding: 20px;
	max-width: 1830px;
	margin: auto;
}

.section {
	display: flex;
	flex-direction: column; /* Вертикальная структура: фильтры + карточки */
	width: 100%; /* Контейнер занимает всю ширину */
}

.sort {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.sorts{
  display: flex;
  gap: 30px;
}

.filtre {
	margin-bottom: 20px; /* Отступ от фильтров до карточек */
	width: 200px;
}

.catalogCard {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 10px; /* Внутренний отступ для красоты */
	width: 100%;
}

.pagination {
	margin: auto;
	margin-top: 20px;
}

.pagText {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 15px;
}

.pagButton {
	color: white;
	background-color: var(--prime);
	border: none;
	padding: 10px;
	border-radius: 10px;
	font-size: 15px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.pagButton:not(:disabled):hover {
	background-color: var(--rude);
}

.pagButtonDis {
	background-color: rgba(152, 150, 150, 0.455);
	cursor: default;
}



.modalOverlay {
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон */

  display: flex;
  justify-content: flex-end; /* Окно "вылетает" справа */
}

.modalContent {
  background: white;
  width: 400px;
  height: 100%;
  position: relative;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  padding: 20px;
}


.modal.open {
  right: 0;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

