.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.filterTitle {
  font-size: 18px;
  font-weight: 500;
  color: #555;
}

.rangeInput {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
}

.dash {
  font-size: 18px;
  color: #666;
}

.colorOptions {
  display: flex;
  gap: 10px;
}



.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.resetButton {
  padding: 10px 15px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  border: 1px solid rgb(107, 105, 105);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resetButton:hover {
  background-color: #ebe7e7;
}

.applyButton {
  padding: 10px 15px;
  background-color: var(--prime);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.applyButton:hover {
  background-color: var(--lite);
}

.colorButton {
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 2px solid var(--prime);
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.colorButton:hover {
  background-color: var(--prime);
  color: #fff;
}

.select{
  padding: 10px;
  border-radius: 20px;
}

.selectedColor {
  background-color: var(--prime);
  color: #fff;
  border-color: #4caf50;
}
