/* reviews.module.css */

/* Общие стили для страницы отзывов */
.reviewsPage {
	padding: 20px;

	margin: auto;
	background-color: #f9f9f9;
	padding-top: 60px;
  max-width: 1830px;
}

.toggleButtons {
	width: 100%;
} 
.toggleButton {
  background-color: var(--prime);
  border: none;
  color: white;
  padding: 15px;
  border-radius: 30px; 
  width: 100%; 
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-bottom: 20px;
}

.toggleButton:hover {
  background-color: var(--lite);
}

/* Стили для общего рейтинга */
.ratingSummary {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	background: #fff;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ratingSummary h1 {
	font-size: 24px;
	margin-right: 20px;
}

.ratingGen{ 
  font-size: 25px;
  margin-bottom: 27px;
  
}

.ratingSummary .ratingStars {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.ratingSummary .ratingStars svg {
	width: 24px;
	height: 24px;
}

.ratingSummary .ratingStars .star.empty {
	fill: #e0e0e0;
}

.ratingSummary .reviewCount {
	font-size: 18px;
	color: #333;
	margin-left: 10px;
  font-weight: bold;
}

/* Стили для формы отзыва */.reviewForm {
  background: #fff;
  min-width: 400px;
  border-radius: 8px; 
  background-color: #f1f6fa; 
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
}

.reviewForme{
  width: 100%;
}

.reviewForm h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.reviewForm label {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}

.reviewForm input[type="text"],
.reviewForm textarea,
.reviewForm input[type="file"] {
  width: 100%; 
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  background-color: #fff;
  margin-top: 5px;
   
}

.reviewForm textarea {
  resize: vertical;
  min-height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reviewForm .ratingStars {
  display: flex;
  align-items: center;
}

.reviewForm .ratingStars svg {
  width: 24px;
  height: 24px;
  fill: #ffc107;
  cursor: pointer;
}

.reviewForm button {
  background-color: var(--prime);
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.reviewEmpty{
  font-size: 27px;
}

.reviewReit{
  font-size: 20px;
  font-weight: bold;
}

.reviewForm button:hover {
  
  background-color: var(--lite);
  transform: scale(1.05);
}

.reviewForm button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}





.photo {
	max-width: 200px;
	max-height: 200px;
}

/* Стили для отзывов */
.reviewList {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 30px;
}

.reviewList li {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.reviewList li p {
	margin: 5px 0;
}

.reviewList li img {
	border-radius: 8px;
}

/* Адаптивные стили */
@media (max-width: 768px) {
	.reviewForm {
		padding: 15px;
	}

	.reviewForm h2 {
		font-size: 20px;
	}

	.reviewForm button {
		width: 100%;
	}

	.ratingSummary {
		flex-direction: column;
		align-items: flex-start;
	}
}
