
/* Стили для отзывов */
.reviewList {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 30px;

}
 
.photo {
	max-width: 200px;
	max-height: 200px;
}

.reviewReitBox{
  display: flex;
  align-items: center;
}

.reviewReit{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px !important;
}

.reviewComm{
  margin-bottom: 10px !important;
}

.reviewNamse{
  font-size: 20px;
}

.reviewName{
  font-size: 20px;
  font-weight: bold;
}

.reviewList li {
	background: #fff;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}
 
.reviewList li p {
	margin: 5px 0;
}

.reviewList li img {
	border-radius: 8px;
}