.sorts {
	position: relative;
	display: inline-block;
	font-size: 16px;
}

.sortButton {
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: #fff;
}

.arrow {
	margin-left: 8px;
	font-size: 12px;
}

.dropdown {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.sortButtons {
	margin-left: 5px;
	color: var(--prime);
}

.list {
	margin: 0;
	padding: 10px 0;
	list-style: none;
}

.item {
	padding: 8px 12px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.item:hover {
	background-color: #f0f0f0;
}

.item:active {
	background-color: #e0e0e0;
}
