.swiper-container {
	max-width: 25%; /* Ширина слайдера */
	max-height: 500px;
	border-radius: 15px;
	margin: 0 !important;
}

.slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
  color: rgb(255, 255, 255);
  position: absolute; /* Абсолютное позиционирование для размещения текста над изображением */
  top: 70%; /* Центрируем текст вертикально */
  left: 50%; /* Центрируем текст горизонтально */
  transform: translate(-50%, -50%); /* Смещаем текст в центр относительно своей позиции */
  text-align: center; /* Центровка текста по горизонтали */
  font-size: 20px; /* Размер текста */
  text-wrap: nowrap;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.521); /* Фон для читаемости */
  padding: 20px 20px; /* Отступы для текста */
  border-radius: 10px; /* Закругление углов */
  z-index: 10; /* Убедитесь, что текст выше изображения */
  width: 260px;
  
}

.textBox{
  font-size: 22px; /* Размер текста */
  margin-bottom: 20px;
}

.icon {
	width: 100%;
	max-height: 500px;
	object-fit: cover; /* Увеличивает изображение, сохраняя его пропорции */
	border-radius: 15px;
}

@media (max-width: 1100px) {
	.slide {
		display: none;
	}
}
